common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  socket: /tmp/mysql.sock
  username: root
  password:

development: &dev
  <<: *common
  database: ht_growth_development
  host: ws-56-july-27.cvl43zs5p5sp.us-west-1.rds.amazonaws.com
  username: ht_staging
  password: ThWXmL7Z2a

test: &test
  <<: *common
  database: ht_growth_test<%= ENV['TEST_ENV_NUMBER'] %>

staging:
  <<: *dev
